<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.virtualcompanion">

    <!-- Permissions must be here, outside <application> -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VirtualCompanion">

        <activity
            android:name=".OpeningActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other activities -->
        <activity android:name=".CustomizeActivity" />
        <activity android:name=".MoodActivity" />
        <activity android:name=".MoodResultActivity" />
        <activity android:name=".QuestsActivity" />
        <activity android:name=".QuestSessionActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".CustomTopActivity" />
        <activity android:name=".CustomBottomActivity" />
        <activity android:name=".CustomHatActivity" />
        <activity android:name=".CustomGlassesActivity" />

    </application>

</manifest>